# virtual env folder at same git folder
virtual_env/

# Byte-compiled / optimized / DLL files
__pycache__/

# .DS_Store
*.DS_Store*

*.ipynb
*.ipynb_checkpoints


face_recognition_project/scanned_img_temp/image.txt
face_recognition_project/scanned_img_temp/new_camera.jpg
